<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button color="secondary"></ion-menu-button>
      </ion-buttons>
      <ion-title>
          <ion-text color="light">
            <ion-text color="light" class="fw700">CIISA</ion-text>
          </ion-text>
      </ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button size="small" shape="round" color="medium" (click)="notifications()">
          <ion-icon name="notifications"></ion-icon>
          <ion-badge color="dark" slot="end">2</ion-badge>
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-card>
  <ion-item>
    <ion-icon name="time" slot="start"></ion-icon>
    <ion-label>Hora Actual: {{fechahoactual}} </ion-label>
  </ion-item>
  <ion-item class="activated">
    <ion-icon name="sunny" slot="start"></ion-icon>
    <ion-label>Humedad Actual : {{humedad}}</ion-label>
  </ion-item>
  <ion-item class="activated">
    <ion-icon name="arrow-round-up" slot="start"></ion-icon>
    <ion-label>Humedad Máxima : {{humedadmayor}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="arrow-round-down" slot="start"></ion-icon>
    <ion-label>Humedad Mínima : {{humedadmenor}}</ion-label>
  </ion-item>
</ion-card>

</ion-content>
